<div class="flex h-full">
  <div class="m-auto p-10">

    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">Datos</h1>
      <p>
        <mat-label>Razón: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Razón" formControlName="reason" />
          <mat-error *ngIf="myError('reason', 'required')">Nombre es requerido</mat-error>
        </mat-form-field>
      </p>
      <!-- Cliente -->
      <p>
        <mat-label>Cliente: </mat-label>
        <mat-form-field class="ml-2">
          <mat-select *ngIf="clients$ | async; let clients" formControlName="clientId">
            <mat-option *ngFor="let client of clients;" [value]="client.id">
              {{client.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <!-- Cliente -->
      <p>
        <mat-label>Cliente: </mat-label>
        <mat-form-field class="ml-2">
          <mat-select *ngIf="services$ | async; let services" formControlName="serviceId">
            <mat-option *ngFor="let service of services;" [value]="service.id">
              {{service.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <!-- Fecha -->
      <p>
        <mat-label>Fecha: </mat-label>
        <mat-form-field class="ml-5">
          <input matInput
                 type="datetime-local"
                 placeholder="Fecha"
                 formControlName="date"
                 (dateChange)="date($event)" />
        </mat-form-field>
      </p>
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Confirmar</button>
      </div>
    </form>
  </div>
</div>
