table {
  width: 100%;
}

.mat-column-actions {
  text-align: right;
}


.mat-raised-button:not(:last-child) {
  margin-right: 10px;
}


:host ::ng-deep .mat-form-field-flex {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
// form fields
:host ::ng-deep .mat-form-field-flex {
  border-radius: 4px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

:host ::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
  padding: 0 !important;
}

// end form fields
.mat-table {
  border-radius: 15px 15px 0px 0px;
  overflow: hidden !important;
}

.mat-paginator {
  border-radius: 0px 0px 15px 15px;
  overflow: hidden !important;
}

// table

.mat-cell {
  font-family: 'Montserrat', sans-serif !important;
}

.mat-header-cell {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
}
// end table
