<div class="flex h-full">
  <div class="m-auto p-10">

    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">Datos</h1>
      <p>
        <mat-label>Razón: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Razón" formControlName="reason" />
          <mat-error *ngIf="myError('name', 'required')">Razón es requerida</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-label>Dirección: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Dirección" formControlName="address" />
          <mat-error *ngIf="myError('address', 'required')">Dirección es requerida</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-label>Correo: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Correo" formControlName="email" />
          <mat-error *ngIf="myError('email', 'required')">Dirección es requerida</mat-error>
          <mat-error *ngIf="myError('email', 'email')">Correo es requerido</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-label>Celular: </mat-label>
        <mat-form-field>
          <input matInput type="number" placeholder="Celular" formControlName="phoneNumber" />
          <mat-error *ngIf="myError('phoneNumber', 'required')">Número es requerido</mat-error>
        </mat-form-field>
      </p>
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Confirmar</button>
      </div>
    </form>
  </div>
</div>
