<h2 mat-dialog-title>{{title}}</h2>


<mat-dialog-content>
  <h3 mat-dialog-title>{{description}}</h3>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="confirm()">Si</button>
  <button class="mat-raised-button mat-primary" (click)="deny()">No</button>
</mat-dialog-actions>
<!--<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="Course Description"
           formControlName="description">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Si</button>
  <button class="mat-raised-button mat-primary" (click)="save()">No</button>
</mat-dialog-actions>-->
