<mat-toolbar>
  <!--<app-menu></app-menu>-->
  <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>-->

  <a routerLink="/">Clínica Dental</a>
  <span class="example-spacer"></span>
  <ul class="flex">
    <li class="mr-6">
      <a class="text-black-500 hover:text-blue-800" routerLink="/">Clientes</a>
    </li>
    <li class="mr-6">
      <a class="text-black-500 hover:text-blue-800" routerLink="/">Inventario</a>
    </li>
    <li class="mr-6">
      <a class="text-black-500 hover:text-blue-800" routerLink="/">{{user.userName}}</a>
    </li>
    <ng-container *ngIf="user.userName != null">
      <li class="mr-6">
        <a class="text-black-500 hover:text-blue-800" routerLink="/logout">Cerrar sesión</a>

      </li>
    </ng-container>
  </ul>
</mat-toolbar>
