<div class="flex h-full">
  <div class="m-auto p-10">

    <!-- Form -->
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-primary-shadow">Nuevo usuario</h1>

      <!-- Name -->
      <p>
        <mat-label>Usuario: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Usuario" formControlName="userName" />
          <mat-error *ngIf="myError('userName', 'required')">Usuario es requerido</mat-error>
        </mat-form-field>
      </p>
      <p>
        <!-- Email -->
        <mat-label>Correo: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="myError('email', 'required')">Correo es requerido</mat-error>
          <mat-error *ngIf="myError('email', 'email')">Formato de correo inválido</mat-error>
        </mat-form-field>
      </p>
      <p>
        <!-- Contraseña -->
        <mat-label>Contraseña: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-error *ngIf="myError('password', 'required')">Contraseña es requerida</mat-error>
          <mat-error *ngIf="myError('password', 'pattern')">La contraseña no es suficientemente segura</mat-error>
        </mat-form-field>
      </p>
      <!-- Gender -->
      <p>
        <mat-label>Rol: </mat-label>
        <mat-radio-group aria-label="Role" formControlName="role">
          <mat-radio-button value="Administrador">Administrador</mat-radio-button>
          <mat-radio-button value="Operador">Operador</mat-radio-button>
        </mat-radio-group>
      </p>
      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Confirmar</button>
      </div>
    </form>
  </div>
</div>


<!-- Fecha -->
<!--<mat-form-field class="ml-5">
  <input matInput
         readonly
         [matDatepicker]="picker"
         placeholder="Fecha"
         formControlName="date"
         (dateChange)="date($event)" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>-->
