<div class="flex h-full">
  <div class="m-auto p-10">

    <!-- Form -->
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <!-- Name -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <!-- Email -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <!-- Gender -->
      <div class="misc-bottom-padding">
        <mat-label>Gender:</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- Date picker -->
      <mat-form-field>
        <input matInput
               readonly
               [matDatepicker]="picker"
               placeholder="Date of birth"
               formControlName="dob"
               (dateChange)="date($event)" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- Class -->
      <mat-form-field>
        <mat-label>Grade</mat-label>
        <mat-select formControlName="grade">
          <mat-option [value]="gradeArray" *ngFor="let gradeArray of GradeArray">
            {{ gradeArray }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Add Subjects -->
      <mat-form-field class="multiple-items">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let subjectsArray of SubjectsArray"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(subjectsArray)">
            {{ subjectsArray.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add subjects"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
      </mat-form-field>
      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Submit</button>
      </div>
    </form>
    <!--  -->
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-primary">Datos</h1>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="Placeholder">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Rol</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </p>
  </div>
</div>
