<div class="flex h-full">
  <div class="m-auto p-10">
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-primary">Datos</h1>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="Placeholder">
        <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Rol</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </p>
  </div>
</div>
